{% extends 'fittingroom/login_base.html' %}
{% load staticfiles %}
    {% block content %}
        <form class="form-signin" method="post">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            {% if form.errors %}
                <p style="color: red">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr class="blank_row">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-block" type="submit" style="background-color: black; color: white">Sign in</button>
            <br>
            <a href="{% url 'register' %}" style="color: black"><span class="glyphicon glyphicon-user"></span> Create Account</a>
        </form>
    {% endblock %}

